.reviews {
  width: 400px;
  height: 260px;
  border: 2px solid rgb(187, 125, 211); 
  box-sizing: border-box;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}

.reviews h1 {
  font-size: 1rem;
  color: rgb(197, 91, 88);  
  
}

.checked {
  color: orange;
}

.fa_custom {
  color: orange;
}

.rating {
  font-size: 0.6rem;
  display: inline-block;
}

.rating-topic {
  padding-left: 0;
}